<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food2Cube</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="static/mainSite/app/styles/company.css">
  <link href="static/mainSite/app/styles/restaurant.css" rel="stylesheet">
  <link href="static/mainSite/app/styles/common.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Finger+Paint|Quattrocento+Sans" rel="stylesheet" type="text/css">

  <!-- endbuild -->
</head>
<body ng-app="food2cubeApp">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.5/json3.min.js"></script>
  <![endif]-->

  <!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand logo">Food2Cube</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right signinup">
          <li>
            <a href="#signin" class="signin" data-toggle="modal">Sign In</a>
          </li>
          <li>
            <a href="#signup" class="signup" data-toggle="modal">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- modal -->
  <!-- signin -->
   <div class="modal fade" id="signin">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" role="form" ng-submit="doLogin()" ng-controller="LoginCtrl" name="login" autocomplete = "off">
            <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="user.email" name="email" required auto-fill-sync>
                <span class="error" ng-show="login.email.$dirty && login.email.$error.required">Required!</span>
                <span class="error" ng-show="login.email.$dirty && login.email.$error.email">Not valid email!</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="user.password" name="password" required auto-fill-sync>
                <span class="error" ng-show="loginFailed">The username or password is not valid!</span>

              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" ng-disabled='login.$invalid'>Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- signup -->
  <div class="modal fade" id="signup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal" role="form" ng-submit="doSignup()" ng-controller="SignupCtrl" name="signup">
            <div class="form-group">
              <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputFirstName" ng-model="signupuser.firstname" name="firstname" required ng-pattern="/^[a-zA-Z]+$/"/>
                 <span class="error" ng-show="signup.firstname.$error.required">Required!</span>
                 <span class="error" ng-show="signup.firstname.$invalid">Must be characters!</span>


              </div>
            </div>
            <div class="form-group">
              <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputLastName" ng-model="signupuser.lastname" name="lastname" required ng-pattern="/^[a-zA-Z]+$/"/>
                <span class="error" ng-show="signup.lastname.$error.required">Required!</span>
                <span class="error" ng-show="signup.lastname.$invalid">Must be characters!</span>

              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email Address</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" ng-model="signupuser.email" name="email" required>
                <span class="error" ng-show="signup.email.$error.required">Required!</span>
                <span class="error" ng-show="signup.email.$error.email">Not a valid email address!</span>


              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-lg-2 control-label">Phone Number</label>
              <div class="col-lg-10">
                <input type="tel" class="form-control" id="inputPhone" ng-model="signupuser.phone" name="phone" required ng-pattern="/^[0-9]+$/"/>
                <span class="error" ng-show="signup.phone.$error.required">Required!</span>
                <span class="error" ng-show="signup.phone.$invalid">Not a valid phone number!</span>

              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" ng-model="signupuser.password1" name="password1" required>
                <span class="error" ng-show="signup.password1.$error.required">Required!</span>

              </div>
            </div>
            <div class="form-group">
              <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPasswordConfirm"  password-match="signupuser.password1" ng-model="signupuser.password2" name="password2" required>
                <span class="error" ng-show="signup.password2.$error.required">Required!</span>

              </div>
              <span class="error" ng-show="signup.password2.$error.unique">The passwords doesn't match. Please retype.</span>

            </div>
             <span class="error" ng-show="emailalreadyexists">The email already exits. Please log in.</span>
             <span class="error" ng-show="servererrorexists">Some form data is not corrected. Please check and retype.</span>


            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" ng-disabled="signup.password2.$error.unique || signup.$invalid">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="view-container" ng-view=""></div>

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-sanitize.min.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="static/mainSite/app/scripts/app.js"></script>
  <script src="static/mainSite/app/scripts/controllers/restaurant.js"></script>
  <script src="static/mainSite/app/scripts/controllers/company.js"></script>
  <script src="static/mainSite/app/scripts/controllers/Login.js"></script>
  <script src="static/mainSite/app/scripts/services/UserProfile.js"></script>
  <script src="static/mainSite/app/scripts/services/Company.js"></script>
  <script src="static/mainSite/app/scripts/services/Restaurant.js"></script>
  <script src="static/mainSite/app/scripts/directives/passwordMatch.js"></script>

  <!-- endbuild -->
</body>
</html>
