<!DOCTYPE html>
<html lang="en" ng-app="food2cube" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <title>Food2Cube</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js"></script>
  <script src="/static/mainSite/js/app.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link href="/static/mainSite/css/landing.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint|Quattrocento+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand logo">Food2Cube</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right signinup">
        <li>
          <a href="#signin" class="signin" data-toggle="modal">Sign In</a>
        </li>
        <li>
          <a href="#signup" class="signup" data-toggle="modal">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- modal -->
<!-- signin -->
<div class="modal fade" id="signin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" role="form" ng-submit="doLogin()" ng-controller="LoginCtrl">
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- signup -->
<div class="modal fade" id="signup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputFirstName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputLastName">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email Address</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="inputEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPhone" class="col-lg-2 control-label">Phone Number</label>
            <div class="col-lg-10">
              <input type="tel" class="form-control" id="inputPhone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPasswordConfirm">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-default">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div class="container">
  <div class="banner">
    <h3>Enjoy local food and pick up just downstairs<br>at your company!</h3>
  </div>

  <div class="companies">
    <div class="col-md-6">
      <center>
        <a href="oracle.html" class="company" id="oracle">
          <img alt="Oracle" src="/static/mainSite/img/oracle.jpg">
        </a>
      </center>
    </div>
    <div class="col-md-6">
      <center>
        <a href="#" class="company more">
          coming<br>soon...
        </a>
      </center>
    </div>
  </div>
</div>

</body>
</html>