<div class="subheader">
    <div class="pull-left subheader-content">
        <span class="opening ng-binding">Order before 11:30am</span>
        <span class="deliver ng-binding">Pick up 12:30pm @ Cisco parking lot A</span>
    </div>
    <button class="custom-btn checkout-btn" type="button" ng-click="proceed('/checkout');"  ng-disabled="!(order1 >0 || order2 > 0)">Checkout<span class="arrows"></span></button>
</div>



<div class="restaurants">
    <div class="restaurant-row row">
        <div class="restaurant col-md-6">
            <img alt="{{menu1.name}}" ng-src="{{menu1.img}}" class="restaurant-pic">
            <h5 class="text-center strong">{{ menu1.name }}<br>{{ menu1.category }}</h5>
            <div class="addchart">
                Add to cart:   
                <span class="editbtn glyphicon glyphicon-minus-sign" ng-click="order1 = (order1>0)?order1-1:0"></span>
                  {{ order1}}
                <span class="editbtn glyphicon glyphicon-plus-sign" ng-click="order1 = order1+1"></span>
            </div>

        </div>

        <div class="restaurant col-md-6">
            <img alt="{{menu2.name}}" ng-src="{{menu2.img}}" class="restaurant-pic">
            <h5 class="text-center strong">{{ menu2.name }}<br>{{ menu2.category }}</h5>
            <div class="addchart">
                Add to cart:
                <span class="editbtn glyphicon glyphicon-minus-sign" ng-click="order2 = (order2>0)?order2-1:0"></span>
                  {{ order2}}
                  <span class="editbtn glyphicon glyphicon-plus-sign" ng-click="order2 = order2+1"></span>
            </div>
        </div>
    </div>

</div>

<!--

<div >
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">

            <h5 class="text-center strong">{{ menu1.name }}<br>{{ menu1.price }}*{{ order1 }}</h5>
            <h5 class="text-center strong">{{ menu2.name }}<br>{{ menu2.price }}*{{ order2 }}</h5>


            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="tips" btn-radio="'0'">0%</button>
                <button type="button" class="btn btn-primary" ng-model="tips" btn-radio="'0.1'">10%</button>
                <button type="button" class="btn btn-primary" ng-model="tips" btn-radio="'0.15'">15%</button>
                <button type="button" class="btn btn-primary" ng-model="tips" btn-radio="'0.2'">20%</button>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div
-->

