.checkout {
	margin: 0 10% 0 10%;
}

.checkoutform{
	margin-top: 30px;
}

.glyphicon-warning-sign{
	color: #8a6d3b;
}

.glyphicon-remove{
	color: #a94442;
}

.error {
	margin: 10px 0 10px 0;
}

.confirm_title {
    font-size:100%;
    font-weight:700;
    padding-bottom: 1%;
}

.right {
    float: right;
}

.shift-left{
position:relative;
left:-100px;
}