html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 50px;
    background-color: #fffff7;
}

/*navbar*/
.logo {
    background: url('/static/mainSite/app/img/newfood2cube.png');
    font-family: 'Finger Paint', cursive;
    color: #BF0000 !important;
    font-size: 26px;
}

.signinup {
    font-family: 'Quattrocento Sans', sans-serif;
}

.signinup .signin, .signinup .signup {
    color: #990000 !important;
}

/*banner*/
.banner {
    width: 100%;
    height: 160px;
    padding: 20px 20% 20px 18%;
    display: inline-block;
    background-color: #ff6666;
    color: #ffffff;
}
.banner h3, .banner h4 {
    font-family: 'Quattrocento Sans', sans-serif;
}
.banner img {
    width: 200px;
    height: 120px;
}

/*content*/
.view-container {
    height: 100%;
}
.container {
    height: 100%;
}
.choose-text {
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 40px;
}
.choose-text h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #cc3333;
}


/*modal*/
#signin {
    top: 60px;
}
#signin .modal-dialog {
    width: 400px;
}
#signup {
    top: 40px;
}
#signup .modal-dialog {
    width: 400px;
}
.modal label, .modal input, .modal button {
    font-family: 'Quattrocento Sans', sans-serif;
}