.container {
    background: url('../img/bg.jpg') no-repeat top center;
}

.companies {
  padding-top: 20px;
  margin-left: 10%;
}
.companies a:hover {
    top: 5px;
    left: 5px;
}

.companies center {
    margin-bottom: 20px;
}

.company {
    width: 80px;
    height: 80px;
    -webkit-transition: top 0.1s ease-out, left 0.1s ease-out;
    text-decoration: none !important;
    position: relative;
}
.company img {
    box-shadow: 0 1px 1px rgba(0,0,0, .5), 0 2px 3px rgba(0,0,0, .25);
    border-radius: 50px;
}

.more {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0,0,0, .5), 0 2px 3px rgba(0,0,0, .25);
  border-radius: 50px;
  vertical-align: middle;
  display: table-cell;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #f72921 !important;
}
