.restaurants {
    margin-left: 10%;
}
.restaurant {
    width: 300px;
    height: 250px;
    display: inline-block;
    margin-bottom: 60px;
    margin-right: 100px;
    position: relative;
}
.restaurant .restaurant-pic {
    width: 300px;
    height: 250px;
    box-shadow: 0 0 1.5rem hsla(0, 100%, 0%, .4);
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*.restaurant h5 {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*margin-bottom: 0px;*/
    /*padding: 5px;*/
    /*background-color: #ff6666;*/
    /*opacity: 0.7;*/
    /*color: #990000;*/
    /*line-height: 30px;*/
    /*font-family: 'Quattrocento Sans', sans-serif;*/
    /*-webkit-transition: top 0.2s ease-out;*/
    /*top: 205px;*/
    /*overflow: hidden;*/
/*}*/
/*.restaurant h5:hover, .restaurant h5:visited {*/
    /*color: #ffffff;*/
/*}*/
/*.restaurant:hover h5 {*/
    /*top: 170px;*/
    /*color: #ffffff;*/
/*}*/
