.restaurants {
    margin: 0 10% 0 10%;
}

.restaurant .restaurant-pic {
    width: 100%;
    height: 416px;
    box-shadow: 0 0 1.5rem hsla(0, 100%, 0%, .4);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant .addchart {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
}

.restaurant .addchart .editbtn{
    color: #D84323;
}
